* {
    font-family: 'Stoke', serif;
    color: white;
}
body {
    background-color: #4B072D;
}
.category li {
    list-style-type: none;
    margin: 2.5em;
}
.cat-img {
    height: 420px;
    width: 300px;
    background-color: white;

}
.btn {
    color: white;
}
.cat-btn:hover {
    border: 2px #4B072D solid;
}
.cat-btn:active {
    border: 2px #4B072D solid;
}
.carton{
    height: 77%;
    width: 100%;
}