.cust{
    padding-bottom: 25px;
}
.Upload{
    width: 300px;
    height: 450px;
    padding-left: 5rem;
}
label{
    display: block;
    width: 200px;
    background: #DCC56E;
    color: black;
    padding: 12px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}
input{
    display: none;
}
.Purple-text{
    color: #4B072D;
}
.Customize{
    text-align: center;
    padding-bottom: 20px;
}
.bg{
    background-color: #FFF0F9;
}
.update-btn{
    margin-left: 69.4%;
    height: clamp(10px, 2vw, 20px); 
}
.Customize-img{
    padding-right: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.trans{
    background-color: transparent;
    border-radius: 10px;
    border: 2px #DCC56E solid;
}