.product {
    height: auto;
    width: 25%;
}
.selected-wrapper {
    width: 100%;
    height: auto;
}
.upload-btn{
    display: block;
    width: 200px;
    background: #DCC56E;
    color: white;
    padding: 12px;
    margin: auto;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.upload-btn:hover{
    scale: 1.05;
    color: rgb(226, 226, 226);
}
input{
    display: none;
}
.Purple-text{
    color: #4B072D;
}
.Customize{
    text-align: center;
    padding-bottom: 20px;
}
.bg{
    background-color: #FFF0F9;
    height: 100vh;
}
.Customize-img{
    padding-right: 50px;
    padding-bottom: 30px;
    text-align: center;
}
.trans{
    background-color: transparent;
    border-radius: 10px;
    border: 2px #DCC56E solid;
}
table {
    height: 100%;
}
.material-symbols-outlined {
    font-size: 45px;
}
.cart {
    font-size: clamp(16px, 3vw, 32px );
    padding-bottom: 7px;
}
#overlay {
    position: fixed;
    display: none;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: lightgray;
    z-index: 2;
    cursor: pointer;
  }
  .placeholder-product{
    width: 180px;
    height: 250px;
    border: 1px solid black;
  }
  ul {
    list-style-type: none;
  }
  li {
    font-size: 32px;
  }
  .close-btn {
    font-size: 16px;
    background-color: transparent;
    border: none;
  }