* {
     font-family: 'Stoke', serif;

}
.logo {
     height: auto;
     width: clamp(3em, 15vw, 20em);
}
.footer-logo {
     height: 75%;
     width: auto;
}

.line {
     width: 100%;
     border-bottom: 3px #4B072D solid;
     padding: 0 10px;
}
.ms-5 {
     margin-left: 3em !important;
}
.categories {
     border-radius: 100%;
     height: auto;
     width: 313px;
     object-fit: cover;
     aspect-ratio: 1 / 1;
}
.categories > div {
     font-size: clamp(.5rem, 5vw, 4rem);
}
.Collectionsrow {
     padding-bottom: 30px;
}
.Collectionscol {
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 50px;
}
.CollectionscolL {
     padding-left: 15px;
     padding-right: 15px;
     max-height: 1000px;
}
.Collections {
     padding-left: 1rem;
     padding-right: 1rem;
}
.CollectionsImg {
     height: auto;
     width: 100%;
     min-width: 70px;
     min-height: 70px;
     border-radius: 3%;
}
.CollectionsImgL {
     height: 85%;
     width: 100%;
     min-width: 70px;
     min-height: 70px;
     object-fit: cover;
     border-radius: 3%;
}
.collect {
     padding-bottom: 40px;
     margin: clamp(2rem, 4vw, 6rem);
}
.About-head{
     padding-bottom: 40px;
     margin: clamp(2rem, 4vw, 6rem);
}
.circle {
     border-radius: 330px;
     height: auto;
     width: 375px;
     margin-left: 15px;
     aspect-ratio: 1 / 1;
}
.Kiesha {
     padding-top: 2 rem;
}
.aboutP {
     line-height: 1.6;
     -webkit-text-stroke-color: none;
     -webkit-text-stroke-width: 0;
     font-size: clamp(.75rem, 2.5vw, 3rem);
     min-height: 350px;
     max-height: 375px;

}
.about {
     padding-bottom:3rem;
     padding-top: 75px;
}
.about-bg{
     padding-top: 40px;
     background-color: #4B072D     ;
     color: #FFEFF8;
     -webkit-text-stroke-color: black;
     -webkit-text-stroke-width: .5px;
}
.bg{
     background-color: #FFF0F9;
}
.footer {
     background-color: #E5CBDB;
     padding-left: 1px;
}
.footer-list {
     list-style-type: none;
}
.socials li {
     list-style-type: none;
     display: inline;
}

.clear-text{
     color: #FFEFF8;
     -webkit-text-stroke-color: #4B072D;
     -webkit-text-stroke-width: 1.5px;
     font-size: clamp(1rem, 5vw, 4rem);
}
.Purple-text{
     color: #4B072D;
     font-size: clamp(1rem, 5vw, 4rem);
}
.nav-item {
     font-size: clamp(1rem, 2.5vw, 2rem);
}

.brown{
     font-size: clamp(1.5rem, 2.5vw, 4rem);
}
.footerhead{
     font-size: clamp(.85rem, 2.5vw, 2.9rem);
}
.footerp{
     font-size: clamp(.5rem, 2.5vw, 1.75rem);
}
.socials{
     padding-left: 0;
}
.footerlogo{
     height: 100%;
     width: clamp(28px, 4vw, 400px);
}
.Category{
     padding-bottom: 40px;
     margin: clamp(2rem, 4vw, 6rem);
}
.footlogo{
     height: 100%;
     width: clamp(100px, 15vw, 300px);
}
.m-text {
     margin-left: clamp(3rem, 15vw, 30rem);
}
.landing-img {
     height: auto;
     width: clamp(40rem, 100vw, 50rem);
}
.cat-btn {
     height: 420px !important;
     width: 300px !important;
}
.cat-btn:hover {
     color: red;
}
.cat-btn:active {
     color: red;
}
.img-size {
     object-fit: contain;
     width: 5vw;
     height: 5vh;
}