* {
    font-family: 'Stoke', serif;
    color: white;
}
body {
    background-color: #FFF0F9;
}
.link {
    text-decoration: none;
}
.info-prod{
    color:#4B072D!important;
}
.h-category {
    color: #4B072D;
    margin-right: 5rem;
}
.category li {
    list-style-type: none;
    margin: 2.5em;
    text-align: end;
}
.nav-category {
    font-size: 2rem;
}
.cat-img-bottles {
    height: 420px;
    width: 300px;
}
.cat-img-cartons {
    height: auto;
    width: 100%;
}
.cat-img-glasses {
    height: 300px;
    width: 300px;
}
.cat-img-ornaments {
    height: 300px;
    width: 300px;
}
.cat-img-tumblers {
    height: 274px;
    width: 274px;
}
#custom-btn {
    border: 1px solid white;
    border-radius: 0;
}
#custom-btn:hover {
    border: 3px solid pink;
    color: pink;
}
/* .btn {
    color: white;
} */
.cat-btn:hover {
    border: 2px #4B072D solid;
}
.cat-btn:active {
    border: 2px #4B072D solid;
}
.carton{
    height: 77%;
    width: 100%;
}
.list{
    display: grid;
    grid-template-columns: auto auto;
  }
